# Node
node_modules
dist
.env
.env.local
.DS_Store
.vscode
*.log

# Vite
.cache
.idea
*.tsbuildinfo

# Mac system files
*.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output from build tools
coverage
.env.local
